# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Environment
.env

# MLflow local (на випадок локальних запусків без tracking server)
mlruns/
mlartifacts/

# Best model artifacts (заповнюється скриптом train_and_push.py)
best_model/*
!best_model/.gitkeep

# IDE / OS
.DS_Store
.idea/
.vscode/
